
/*иконочные шрифты*/

@font-face
{
    font-family: 'symbols-sedona';
    font-weight: normal;
    font-style: normal;

    src: url('../font/symbols-sedona.eot?60737633');
    src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
    url('../font/symbols-sedona.woff?60737633') format('woff'),
    url('../font/symbols-sedona.ttf?60737633') format('truetype'),
    url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

[class^='icon-']:before,
[class*=' icon-']:before
{
    font-family: 'symbols-sedona';
    font-weight: normal;
    font-style: normal;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    display: inline-block;

    width: 1em;
    margin-right: .2em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    text-align: center;
    text-decoration: inherit;
    text-transform: none;

    speak: none;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before
{
    content: '\66';
} /* 'f' */
.icon-twitter:before
{
    content: '\74';
} /* 't' */
.icon-up-dir:before
{
    content: '\25b2';
} /* '▲' */
.icon-down-dir:before
{
    content: '\25bc';
} /* '▼' */
.icon-star:before
{
    content: '\2605';
} /* '★' */
.icon-check-off:before
{
    content: '\2610';
} /* '☐' */
.icon-check-on:before
{
    content: '\2611';
} /* '☑' */
.icon-calendar:before
{
    content: '\e800';
} /* '' */
.icon-plus:before
{
    content: '\e801';
} /* '' */
.icon-minus:before
{
    content: '\e802';
} /* '' */
.icon-youtube:before
{
    content: '\f39e';
} /* '' */

/*конец иконочных шрифтов*/

body
{
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

    min-width: 768px;

    color: black;
    background: #f2f2f2;
}

.container
{
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;

    background: white;
    box-shadow: 0 5px 10px 5px rgba(17, 17, 17, .1);
}

.clearfix:after
{
    display: table;
    clear: both;

    content: '';
}

/*Навигация*/

.main-nav
{
    position: relative;

    width: 100%;
    padding: 0 0;
}

.main-nav ul
{
    font-size: 0;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 6%;

    list-style: none;
}

.main-nav li
{
    font-size: 0;

    display: inline-block;

    width: 23.001%; /* т.к. у родителя использовано св-во бордер-бокс, ширина 23% примерно равна 20% из ТЗ */
    padding: 0 0;
    padding-top: 15px;
    padding-bottom: 11px;

    vertical-align: middle;
}

.main-nav li:nth-child(2)
{
    margin-right: 8%;
}

.main-nav .right-align
{
    text-align: right;
}

.main-nav a
{
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;

    text-align: center;
    text-decoration: none;

    color: black;
}

.logo
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;

    width: 140px;
    margin-left: -70px;
}

.main-nav a:hover
{
    color: #81b3d2;
}

.main-nav a:active
{
    color: #b2b2b2;
}

.main-nav .active a
{
    color: #766357;
}

.main-nav .active a:hover
{
    color: #604e43;
}

.main-nav .active a:active
{
    color: #d6d0cc;
}

/*Главная картинка главной страницы*/

.welcome
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 508px;

    background: white url('../img/index_top.jpg') no-repeat center 22%;
    background-size: cover;
}

.welcome img
{
    display: block;

    margin: 0 auto;
    padding-top: 72px;
}

.welcome::after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    content: '';

    background: url('../img/index_top_1.png') no-repeat center bottom;
}

.intro
{
    height: 100%;
    margin-bottom: 50px;
    padding: 0 25%;

    text-align: center;

    background: white;
}

.intro-title
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    display: inline-block;

    width: 460px;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    padding-top: 62px;

    vertical-align: middle;
}

.intro-description
{
    margin: 0;
    padding: 0;
}

/*СЕТКА ГЛАВНОЙ СТРАНИЦЫ*/

.reason-row
{
    font-size: 0;

    display: inline-block;

    width: 100%;

    vertical-align: middle;
}

.reason-feature
{
    display: inline-block;

    box-sizing: border-box;
    width: 33.33333333%;
    margin-top: 5%;
    padding: 5%;

    text-align: center;
    vertical-align: top;
    /*Или их тоже сделать лучше спрайтами?*/

    background: url('../img/burger.png') no-repeat top center;
}

.reason-feature:first-child
{
    background: url('../img/house.png') no-repeat top center;
}

.reason-feature:last-child
{
    background: url('../img/gift.png') no-repeat top center;
}

.reason-feature-title
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    margin: 0;
    margin-top: 52px;
    padding: 0;;
}

.reason-row.img-1
{
    background: #81b3d2 url('../img/feature_1.jpg') no-repeat right center;
    background-size: cover;
}

.reason-row.img-2
{
    background: #81b3d2 url('../img/feature_2.jpg') no-repeat left center;
    background-size: cover;
}

.reason-feature-description
{
    font-size: 14px;
    line-height: 21px;
}

.reason
{
    display: inline-block;

    box-sizing: border-box;
    width: 33.33333333%;
    min-height: 255px;
    padding: 4.3% 4.3%;

    text-align: center;
    vertical-align: top;

    background: #eee;
}

.reason-row.img-2 .reason
{
    margin-left: 66.66666666%;
}

.blue-bg
{
    color: white;
    background: #81b3d2;
}

.reason-title
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    margin: 0;
    margin-bottom: 17px;
    padding: 0 5%;
}

.reason-number
{
    font-size: 14px;
    line-height: 21px;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.reason-description
{
    font-size: 14px;
    line-height: 18px;

    margin: 0;
    padding: 0 2%;
}

.interested
{
    display: block;

    width: 438px;
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 40px;

    text-align: center;
    vertical-align: top;
}

.interested-title
{
    font-size: 30px;
    line-height: 1.2;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.interested-descritpion
{
    font-size: 14px;
    line-height: 24px;

    margin: 0;
    padding: 0;
}

.relative-for-form
{
    position: relative;

    width: 100%;
    height: 560px;
}

.modal-content-map
{
    width: 100%;
    height: 475px;
    padding-top: 85px;

    background: white url('../img/map.jpg') no-repeat center bottom;
    background-size: 100% 475px;
}

.modal-content-map iframe
{
    width: 100%;
    height: 475px;
}

/*Форма поиска гостиниц*/

.search
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 568px;
    height: 481px;
    margin: 0 auto;
}

.search-hotel
{
    display: none;

    background: white;
    box-shadow: 0 5px 10px 5px rgba(17, 17, 17, .1);
}

.search-btn
{
    padding: 29px;
    padding-bottom: 28px;

    text-align: center;

    background: #766357;
}

.search-btn a
{
    font-size: 21px;
    line-height: 26px;

    text-decoration: none;

    color: white;
}

.search-hotel_layout
{
    font-weight: 700;

    width: 457px;
    margin: 0 auto;
    padding-top: 55px;

    background: white;
}

.search-hotel_layout label
{
    position: relative;

    display: inline-block;

    width: 105px;

    vertical-align: baseline;

    border: none;
}

.search-hotel_layout input
{
    display: inline-block;

    width: 332px;
    margin-bottom: 30px;
    padding: 10px 0;

    vertical-align: baseline;
    text-transform: uppercase;

    border: none;
    outline: none;
    background: #f2f2f2;
}

.search-hotel_layout input:hover
{
    background-color: #ebebeb;
}

.search-hotel_layout input:focus
{
    outline: 1px solid #e5e5e5;
    background: transparent;
}

.search-hotel_layout .arrival-date,
.search-hotel_layout .departure-date
{
    padding-left: 15px;
}

.search-hotel_layout .adults,
.search-hotel_layout .kids
{
    width: 117px;

    text-align: center;
}

.search-hotel_layout label:last-of-type
{
    text-align: center;
}

.search-hotel_layout .for-calendar::after
{
    font-family: 'symbols-sedona';
    font-size: 25px;
    font-weight: 400;

    position: absolute;
    right: -325%;

    display: inline-block;

    margin-right: 0;

    content: '\e800';
    vertical-align: middle;

    color: #c2c2c2;
}

.search-hotel_layout .for-plus::before
{
    font-family: 'symbols-sedona';
    font-size: 15px;
    font-weight: 400;

    position: absolute;
    right: -100%;

    content: '\e801';
    vertical-align: middle;

    color: #c2c2c2;
}

.search-hotel_layout .for-minus::after
{
    font-family: 'symbols-sedona';
    font-size: 15px;
    font-weight: 400;

    position: absolute;
    right: -25%;

    content: '\e802';
    vertical-align: middle;

    color: #c2c2c2;
}

.search-hotel_layout .for-calendar:hover::after,
.search-hotel_layout .for-plus:hover::before,
.search-hotel_layout .for-minus:hover::after
{
    color: black;
}

.search-hotel_layout .for-calendar:active::after,
.search-hotel_layout .for-plus:active::before,
.search-hotel_layout .for-minus:active::after
{
    color: #81b3d2;
}

.search-hotel input[type='submit']
{
    font-size: 21px;
    line-height: 26px;

    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 17px 196px;

    color: white;
    background: #81b3d2;
}

.search-hotel input[type='submit']:hover
{
    background: #669ec0;
}

.search-hotel input[type='submit']:active
{
    color: #88b6d1;
    background: #5496bd;
}

.search-hotel-close
{
    position: absolute;
    top: 0;

    width: 100%;
    height: 85px;

    border: none;
    outline: none;
    background-color: transparent;
}

/*Анимация*/

@-webkit-keyframes bounce
{
    0%
    {
        transform: translateY(-2000px);
    }
    70%
    {
        transform: translateY(30px);
    }
    90%
    {
        transform: translateY(-10px);
    }
    100%
    {
        transform: translateY(0);
    }
}

@keyframes bounce
{
    0%
    {
        transform: translateY(-100px);
    }
    70%
    {
        transform: translateY(30px);
    }
    90%
    {
        transform: translateY(-10px);
    }
    100%
    {
        transform: translateY(0);
    }
}

.search-hotel-show
{
    display: block;

    -webkit-animation: bounce 2s;
            animation: bounce 2s;
}

@keyframes shake
{
    0%,
    100%
    {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80%
    {
        transform: translateX(10px);
    }
}

@-webkit-keyframes shake
{
    0%,
    100%
    {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80%
    {
        transform: translateX(10px);
    }
}

.search-error
{
    -webkit-animation: shake .6s;
            animation: shake .6s;
}


/*Внутренняя страница*/

/*форма с выбором параметров*/

.search-form
{
    box-sizing: border-box;
    width: 100%;
    padding: 0 6%;

    background: white url('../img/hotels_bg.jpg') no-repeat;
    background-size: cover;
}


.search-form fieldset
{
    float: left;

    width: 24%;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 27px;
    padding: 0;

    border: none;
}

.infrastructure legend,
.type-of-living legend
{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    margin-bottom: 25px;

    color: white;
}

.price legend
{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    color: white;
}

.infrastructure label,
.type-of-living label
{
    display: inline-block;

    width: 100%;
    margin-right: 20px;
    margin-bottom: 18px;

    vertical-align: middle;

    color: white;
}

.infrastructure label:last-child,
.type-of-living label:last-child
{
    margin-bottom: 0;
}

.search-form fieldset:last-child
{
    float: right;

    width: 31%;
}

.search-form input[type='checkbox']
{
    display: none;
}

.search-form input[type='checkbox'] + label::before
{
    font-family: 'symbols-sedona';
    font-size: 25px;

    display: inline-block;

    margin-right: 20px;

    content: '\2610';
    vertical-align: middle;

    color: #b5b5b5;
}

.search-form input[type='checkbox'] + label:hover::before
{
    color: white;
}

.search-form input[type='checkbox'] + label:disabled::before
{
    color: 6a6a6a;
}

.search-form input[type='checkbox']:checked + label::before
{
    font-family: 'symbols-sedona';
    font-size: 30px;

    display: inline-block;

    margin-right: 12px;

    content: '\2611';
    vertical-align: middle;

    color: #b5b5b5;
}

.search-form input[type='checkbox']:checked + label:hover::before
{
    color: white;
}

.search-form input[type='checkbox']:checked + label:disabled::before
{
    color: #b5b5b5;
}
/*фильтр*/

.range-filter
{
    width: 100%;

    color: white;
}

.price-controls
{
    font-size: 0;

    position: relative;

    margin-top: 13px;
    margin-bottom: 14px;
    margin-left: 12px;

    border: 2px solid white;
    border-radius: 3px;
}

.price-controls label
{
    font-size: 14px;

    display: inline-block;

    width: 50%;
    padding: 0;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.price-controls input
{
    font-size: 14px;

    width: 35px;
    padding: 8px 0;

    text-align: center;

    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    background: none;
}

.price-controls::after
{
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 50%;

    width: 2px;
    height: 22px;

    content: '';

    background: white;
}

.range-controls
{
    position: relative;

    height: 30px;
    padding-top: 5px;
    padding-left: 12px;
    /*margin-bottom: 15px;*/

    border-radius: 5px;
    background: none;
}

.range-controls .scale
{
    height: 2px;

    background: #ababab;
}

.range-controls .bar
{
    width: 80%;
    height: 2px;

    background: white;
}

.range-controls .toggle
{
    position: absolute;
    top: -5px;
    left: 0;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
}

.range-controls .toggle:hover
{
    background: #81b3d2;
}

.range-controls .toggle-min
{
    left: 12px;
}

.range-controls .toggle-max
{
    left: 80%;
}


.price input[type='submit']
{
    font-size: 14px;
    line-height: 21px;
    /*width: 100%;*/

    display: block;

    margin: 0 auto;
    padding: 8px 35px;

    color: white;
    border: 2px solid white;
    border-radius: 3px;
    background: none;
}

/*конец фильтра*/
/*конец формы с выбором параметров*/

.sorting-row
{
    margin-bottom: 31px;
    padding: 0 6%;
    padding-top: 31px;

    background: white;
}

.sorting-result
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    float: left;
    /*padding: 10px 20px;*/

    width: 164px;
}

.sorting-type
{
    float: left;

    width: 400px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.asc-desc
{
    float: right;
}

.sorting-type li
{
    float: left;

    margin-right: 35px;
    padding: 0;
}

.sorting-type span
{
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;

    margin: 0;
    padding: 0p;

    vertical-align: middle;
    text-transform: uppercase;
}

.sorting-active span
{
    font-weight: 400;

    color: #81b3d2;
}

.sorting-type a,
.asc-desc a
{
    font-size: 12px;
    line-height: 14px;

    margin: 0;
    padding: 0;

    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;

    color: #d0d0d0;
}

.sorting-type a:hover
{
    color: #81b3d2;
}

.sorting-type a:active
{
    color: black;
    border-bottom: none;
}

.asc-desc a
{
    font-size: 15px;

    padding-right: 5px;
}

.asc-desc a:hover
{
    color: black;
}

.asc-desc a:active
{
    color: #81b3d2;
}

.asc-desc a:last-child
{
    padding-right: 0;
}

.asc-desc .active
{
    color: #81b3d2;
}

.asc-desc .active:hover
{
    color: #81b3d2;
}

.rating-star
{
    font-size: 21px;

    color: #81b3d2;
}

.sorting-type a
{
    border-bottom: 1px dotted #81b3d2;
}

.result
{
    padding: 25px 6%;
    padding-bottom: 15px;

    border-bottom: 1px solid #e5e5e5;
}

.result:first-of-type
{
    border-top: 1px solid #e5e5e5;
}


.result-photo
{
    float: left;

    width: 135px;
    padding: 5px 0;
}

.result-photo img
{
    max-width: 100%;
    height: auto;
}

.result-item
{
    float: left;

    margin: 0;
    margin-left: 30px;
    padding: 0;
}

.result-item h2
{
    margin: 0;
    padding: 0;
}

.result-item h2:hover
{
    color: #81b3d2;
}

.result-item h2:active
{
    color: #cacaca;
}

.type-and-price
{
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 0 0;
}

.type-and-price span:nth-child(odd)
{
    float: left;

    width: 116px;
}

.rating
{
    float: right;

    width: 154px;
    margin-left: 58px;

    text-align: right;
}

.rating p
{
    margin: 0;
    padding: 0;

    vertical-align: top;
}

.rating p:first-child
{
    margin-bottom: 40px;
}

.rating p:last-child
{
    width: 111px;
    margin-left: 45px;

    text-align: center;

    color: gray;
    background: #f2f2f2;
    text-shadow: 0 0 1px gray;
}

.result-item .btn
{
    font-weight: 700;

    padding: 5px 17px;

    text-decoration: none;

    color: white;
    background: #81b3d2;
}

.result-item .btn:hover
{
    background: #669ec0;
}

.result-item .btn:active
{
    color: #88b6d1;
    background: #5496bd;
}

.btn.book
{
    background: #766357;
}

.btn.book:hover
{
    background: #604e43;
}

.btn.book:active
{
    color: #857871;
    background: #503e33;
}

/*ФУТЕР*/


.main-footer section
{
    float: left;

    width: 33.33333333%;

    text-align: center;
}

.hashtag
{
    padding: 45px 0;
}

.hashtag a
{
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;

    text-align: center;
    text-decoration: none;

    color: black;
}

.footer-copyright
{
    padding: 45px 0;
}

.footer-copyright p
{
    display: inline-block;

    margin: 0;
    padding: 0;

    vertical-align: middle;
}

.footer-logo
{
    vertical-align: middle;
}


.footer-logo .sprite-ico-academy
{
    display: inline-block;

    width: 113px;
    height: 39px;
    margin-left: 5px;

    vertical-align: middle;

    background-image: url(../img/sprite/sprite.png);
    background-repeat: no-repeat;
    background-position: -5px -5px;
}

.footer-logo .sprite-ico-academy:hover
{
    background-position: -128px -5px;
}

.footer-logo .sprite-ico-academy:active
{
    background-position: -5px -54px;
}

.footer-social
{
    padding: 35px 0;
}

.footer-social a
{
    font-size: 19px;
    line-height: 20px;

    padding: 10px;

    text-decoration: none;

    color: white;
    background: #81b3d2;
}

.footer-social a:hover
{
    background: #669ec0;
}

.footer-social a:active
{
    color: #88b6d1;
    background: #5496bd;
}

/*ОТдельная страница для всплывающей формы поиска*/

.inner-page .search
{
    position: relative;

    padding-top: 20px;
}

.inner-page .search-hotel
{
    display: block;
}
